@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #007BFF; 
  --color-secondary: #6C757D;
  --color-success: #28A745; 
  --color-danger: #DC3545; 
  --color-warning: #FFC107; 
  --color-info: #17A2B8;
  --color-light: #F8F9FA; 
  --color-dark: #343A40; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}


a {
  color: var(--color-primary);
}

.success {
  color: var(--color-success);
}

.danger {
  color: var(--color-danger);
}
